<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if v-show v-for指令</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- v-if 当值为false时，将元素从dom中移除 -->
        <div v-if="show">hello world</div>
        <!-- v-show 当值为false时，显示为 display：none -->
        <!-- <div v-show="show">hello world</div> -->
        <button @click="handleClick">toggle</button>
        <!-- key的作用主要是为了高效的更新虚拟DOM， -->
        <!-- 使用key来给每个节点做一个唯一标识，Diff算法就可以正确的识别此节点，找到正确的位置区插入新的节点。 -->

        <ul>
            <li v-for="(item,index) in items" :key="index">{{item}}</li>
        </ul>



    </div>
    <script>
        new Vue({
            el: "#root",
            data: {
                show: true,
                items: [1, 2, 3]
            },
            methods: {
                handleClick: function () {
                    // 取反
                    this.show = !this.show;
                }
            }
        })
    </script>
</body>

</html>